html {
max-height: 100%; 
}
body{
    font-size:3em;    
}
.content::before {
	content: "";
	display: block;
	position: absolute;
    z-index: -1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.3);
	font-size: 100px;

}
.content {
	position: relative;
	text-decoration: none;
	background-image: url(http://250.brown.edu/sites/main-dev/files/styles/timeline_900_auto/public/250_kp0047.jpg?itok=rJeP-3OZ);
    background-color:gray;
	padding:4.6em 1.1em; 
	text-align: center;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	font-size: 150%;
	font-weight: bold;

}

.content  {
    color:#fff;
    position:relative;
    z-index:1000; /*overlayの影響をテキストが受けないようにする*/
    padding-top: -50%
}

*{
  margin:0;
  padding:0;
}
body{
  font-size:120%;
  margin:0.3em;
  background:#666;
  color:#fff;
  font-family: Courier;
/*  text-shadow: 1.2px 1.2px #888;
*/
}
h2{
font-family:"Reenie Beanie",arial,sans-serif;

  font-size:90%;
  font-weight:normal;
}
p{
	font-family:"Reenie Beanie",arial,sans-serif;

  font-size:10%;
  font-weight:normal;
}

ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7.5em;
  width:7.5em;
  padding:0.5em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li{
  margin:1em;
  margin-top:-5%;
  margin-right: -4%;
  float:right;
}

ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Reenie Beanie",Georgia,serif;
  font-size:100%;
}

a {
	float: right;
	font-size: 0.7em;
	margin-top: 8%;
	font-weight: normal;
	color: white;
	font-style: none;
/*	font-family:"Reenie Beanie",Georgia,serif;
*/}
#countdown1{
	color:#e63e57;
	display:block;
	text-align:center;
	padding:5 10 1 10px;
	font-weight:bold;
	font-size:40px;
	max-width:360px;
}

.countdown1{
	font-size:16px;
	color:white;
	font-weight:bold;
}


#buckitlist{

	margin-top:18%;

	margin-right:3%;
	font-family: "Reenie Beanie",arial,sans-serif;
	text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7.5em;
  width:7.5em;
  padding:0.5em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

#nextbucket {
	padding-top: 65%;
	padding-bottom: 4%;
}

#buck {
	position: absolute;
	margin-top:10%;
	left:6%;
}
#form {
  position: absolute;
  float:right;
  bottom: 3%;
  right: 5%;
}
#cc {
  position: absolute;
  font-weight: normal;
  font-size: 50%;
  bottom: 3%;
}
